<footer>
  <div class="container">
    <div class="footer-info">
      <div class="newsletter">
        <div class="footer-title">
          <img src="../../../assets/svg/email.svg" alt="email" class="footer-title__img">
          <span class="footer-title__name">Newsletter</span>
        </div>
        <p class="newsletter-description">
            Subscribe now to get 100 exclusive photo & two newsletters per month
        </p>
        <form class="newsletter-form">
          <div class="newsletter-form__email">
            <input type="text" placeholder="Your email address">
          </div>
        </form>
      </div>
      <div class="category">
          <div class="footer-title">
              <img src="../../../assets/svg/3d-paper-glasses.svg" alt="email" class="footer-title__img">
              <span class="footer-title__name">Movies Category</span>
          </div>
          <ul class="category__list">
            <li *ngFor="let navigation of navigations$ | async">
              <a (click) = "setFilter(navigation)" [routerLink] = "['/films']" class="category__link">{{navigation}}</a>
            </li>
          </ul>
      </div>
      <div class="news">
          <div class="footer-title">
            <img src="../../../assets/svg/loudspeaker.svg" alt="email" class="footer-title__img">
            <span class="footer-title__name">Moview Everywhere</span>
          </div>
      </div>
    </div>
  </div>
</footer>