<main>
	<drag-scroll #nav>
		<app-film drag-scroll-item [film]="'Inception'"></app-film>
		<app-film drag-scroll-item [film]= "'Interstellar'"> </app-film>
		<app-film drag-scroll-item [film]= "'Venom'"></app-film>
		<app-film drag-scroll-item [film]= "'Fight-club'"></app-film>
		<app-film drag-scroll-item [film]="'Inception'"></app-film>
		<app-film drag-scroll-item [film]= "'Interstellar'"> </app-film>
		<app-film drag-scroll-item [film]= "'Venom'"></app-film>
		<app-film drag-scroll-item [film]= "'Fight-club'"></app-film>
	</drag-scroll>
	<div class="container">

		<ul class="tab-container">
			<li *ngFor="let tab of [1,2,3]">
				<app-film film="Interstellar" (click) = "selectTab(tab)"></app-film>
			</li>
		</ul>

	</div>
</main>