<main>
	<drag-scroll #nav>
		<app-film drag-scroll-item [film]="'Inception'"></app-film>
		<app-film drag-scroll-item [film]= "'Interstellar'"> </app-film>
		<app-film drag-scroll-item [film]= "'Venom'"></app-film>
		<app-film drag-scroll-item [film]= "'Fight-club'"></app-film>
		<app-film drag-scroll-item [film]="'Inception'"></app-film>
		<app-film drag-scroll-item [film]= "'Interstellar'"> </app-film>
		<app-film drag-scroll-item [film]= "'Venom'"></app-film>
		<app-film drag-scroll-item [film]= "'Fight-club'"></app-film>
	</drag-scroll>
	<div class="container">

	</div>
</main>