<div class="movie">
  <div class="movie-poster">
      <img src="{{film.imageUrl}}" alt="">
  </div>

  <a class="play-icon" [routerLink] = "['/films', film.title]">
    <div class="play-icon__image"></div>
  </a>

  <div class="movie-details">
    <div class="movie-rating">
      <span class="movie-rating__summary">{{film.rating}}/10</span>
    </div>
    <div class="movie-name">
      <a class="movie-title" [routerLink] = "['/films', film.title]">
      {{film.title}}({{film.year}})
      </a>
      <span class="movie-genre" *ngFor = "let genre of film.genre; let isLast = last">
        {{genre}}{{isLast ? '' : ", "}}
      </span>
    </div>
  </div>
</div>