<div class="movie">
  <div class="movie-poster">
      <img src="../../../../assets/films-card/{{film}}.jpg" alt="">
  </div>

  <a class="play-icon">
    <div class="play-icon__image">

    </div>
  </a>

  <div class="movie-details">
    <div class="movie-rating">
      <span class="movie-rating__summary">8/10</span>
    </div>
    <div class="movie-name">
      <h2 class="movie-title">
      {{film}}(2010)
      </h2>
      <span class="movie-genre">
        Action, Drama
      </span>
    </div>
  </div>
</div>