<header>

	<app-side-nav  *ngIf="isVisible" [isVisible] = "isVisible" (changeSidenav)="closeSidenav($event)"></app-side-nav>

	<div class="container header-inner">
		<div class="header-left">
			<div class="menu-button" (click) = "showSidenav()">
				<span class="menu-button__line"></span>
				<span class="menu-button__line"></span>
				<span class="menu-button__line"></span>
			</div>
		
			<div class="logo">
				<a class="logo__link">
					<img src="../../../assets/logo.png" alt="logo" class='logo__image'>
				</a>
			</div>
		</div>
	
		
			<app-filters></app-filters>
		
	</div>
</header>

