<div  *ngIf="isVisible" class="sidenav" @toogleSidenav>
  <div class="sidenav-close" (click) = "closeSidenav()">
    <div class="close-button">  
      <span class="close-button__line"></span>
      <span class="close-button__line"></span>
    </div>
  </div>

  <div class="sidenav-inner">
    <nav class="sidenav-menu">
      <ul class="sidenav-menu__list">
        <li class="sidenav-menu__item" *ngFor="let navigation of navigations$ | async">
          <a (click) = "setFilter(navigation)" [routerLink] = "['/films']" class="sidenav-menu__link">{{navigation}}</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="sidenav-official">
      <ul class="sidenav-official__list">
        <li><a href="" class="sidenav-official__link"><img src="../../../assets/social/facebook.svg" alt="facebook" class="sidenav-official__logo"></a></li>
        <li><a href="" class="sidenav-official__link"><img src="../../../assets/social/twitter.svg" alt="twitter" class="sidenav-official__logo"></a></li>
        <li><a href="" class="sidenav-official__link"><img src="../../../assets/social/youtube.svg" alt="youtube" class="sidenav-official__logo"></a></li>
        <li><a href="" class="sidenav-official__link"><img src="../../../assets/social/instagram.svg" alt="instagram" class="sidenav-official__logo"></a></li>
        <li><a href="" class="sidenav-official__link"><img src="../../../assets/social/telegram.svg" alt="telegram" class="sidenav-official__logo"></a></li>
      </ul>
    </div>
</div>