<div class="sidenav" @toogleSidenav>
  <div class="sidenav-close" (click) = "closeSidenav()">
    <div class="close-button">  
      <span class="close-button__line"></span>
      <span class="close-button__line"></span>
    </div>
  </div>

  <div class="sidenav-inner">
    <nav class="sidenav-menu">
      <ul class="sidenav-menu__list">
        <li class="sidenav-menu__item"><a href="" class="sidenav-menu__link">Action</a></li>
        <li class="sidenav-menu__item"><a href="" class="sidenav-menu__link">Adventure</a></li>
        <li class="sidenav-menu__item"><a href="" class="sidenav-menu__link">Comedy</a></li>
        <li class="sidenav-menu__item"><a href="" class="sidenav-menu__link">Drama</a></li>
        <li class="sidenav-menu__item"><a href="" class="sidenav-menu__link">Horror</a></li>
        <li class="sidenav-menu__item"><a href="" class="sidenav-menu__link">Werstern</a></li>
        <li class="sidenav-menu__item"><a href="" class="sidenav-menu__link">Musicals</a></li>
        <li class="sidenav-menu__item"><a href="" class="sidenav-menu__link">Historical</a></li>
        <li class="sidenav-menu__item"><a href="" class="sidenav-menu__link">Grime</a></li>
        <li class="sidenav-menu__item"><a href="" class="sidenav-menu__link">Science Fiction</a></li>
      </ul>
    </nav>
  </div>

  <div class="sidenav-official">
    <ul class="sidenav-official__list">
      <li><a href="" class="sidenav-official__link"><img src="../../../assets/social/facebook.svg" alt="facebook" class="sidenav-official__logo"></a></li>
      <li><a href="" class="sidenav-official__link"><img src="../../../assets/social/twitter.svg" alt="twitter" class="sidenav-official__logo"></a></li>
      <li><a href="" class="sidenav-official__link"><img src="../../../assets/social/youtube.svg" alt="youtube" class="sidenav-official__logo"></a></li>
      <li><a href="" class="sidenav-official__link"><img src="../../../assets/social/instagram.svg" alt="instagram" class="sidenav-official__logo"></a></li>
      <li><a href="" class="sidenav-official__link"><img src="../../../assets/social/telegram.svg" alt="telegram" class="sidenav-official__logo"></a></li>
    </ul>
  </div>
</div>